frontend/.DS_Store
frontend/.env
frontend/node_modules
backend/.env
backend/node_modules


frontend/node_modules/.cache/.eslintcache
frontend/node_modules/.cache/babel-loader/4c01e0cc1056f7659b7284c03e8b56fc35b1c29d35ef1296284c3cd500fec64d.json
frontend/node_modules/.cache/babel-loader/96b2c401643aa7bf405ecfe11d82c44f9275bdb723e126beb834f8de26df3a4f.json
frontend/node_modules/.cache/babel-loader/246adea1bd3c46de00ea425e3220d0006c8eb21179100d5eee81dd786578ad30.json
frontend/node_modules/.cache/babel-loader/421d9b3f89e5c8fa9e9aaee15051c482dccab58eb0eb349da83d74c27f58eb9f.json
frontend/node_modules/.cache/babel-loader/607ce30cfa89b6887d5f5813258bfff9864d3e3486c6fa297879baad3a56cde3.json
frontend/node_modules/.cache/babel-loader/796da62e1863970415efac7604fcf1c644f77cc3d3c43722cedb274853f30498.json
frontend/node_modules/.cache/babel-loader/935c53dbe9fbef7229ea9a597d1837401f31b75db19ceeccc2260b74f762d937.json
frontend/node_modules/.cache/babel-loader/7935d9acaf4989fe0b28ea44233a8dc218778069d0372a969a2b2e3fd6ed7e2d.json
frontend/node_modules/.cache/babel-loader/a1785638e065351b9a909b9bf327ee25153380204d2dae762f49fe445b9364e3.json
frontend/node_modules/.cache/babel-loader/ab9d6a63063ae5e50aa3ce7222f84a7f81f4cea43d64c4f74c6a7d5fa38757dc.json
frontend/node_modules/.cache/babel-loader/b31384ab14db7cd560892077983b99078014c9db3f190e658025eb6f17952a3e.json
frontend/node_modules/.cache/babel-loader/c51775711e81f7547625b3f127c3a60a14a144ceaa19912cc63a8e8b364ca0ac.json
frontend/node_modules/.cache/babel-loader/ca8ac800f37008c3519d64b4a72cd4f0c17d7ba4a72f7e2c84eae64afe4ea2ca.json
frontend/node_modules/.cache/babel-loader/dfb7202b969faa7eca0febb321da5c9ae041415bad63c6b18df88e294a6eefd2.json
frontend/node_modules/.cache/babel-loader/e02bb46566cccf4bd8967965affd1b1ec5c335b395ebcc8685dbf0e0ce27dece.json
frontend/node_modules/.cache/babel-loader/e29d8b9380ee12c3238f4cdcc5cd38eae6d1c80fa2ec38d9f17afea125715d1b.json
frontend/node_modules/.cache/babel-loader/f8e3c0b92e071793fada1e0c40ec7a4b1c238ff0d635d516bafd32ebea51fccf.json
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/15.pack
frontend/node_modules/.cache/default-development/16.pack
frontend/node_modules/.cache/default-development/17.pack
frontend/node_modules/.cache/default-development/18.pack
frontend/node_modules/.cache/default-development/19.pack
frontend/node_modules/.cache/default-development/20.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
backend/.DS_Store
frontend/node_modules/.cache/.eslintcache
frontend/node_modules/.cache/babel-loader/1af35e336cc22abd94005873608d58cda30237de9412648327e829ffc9b21945.json
frontend/node_modules/.cache/babel-loader/1c76cbb32fd0061719971b3b93afa0a884147fbfe305e673183ae81ccd442b88.json
frontend/node_modules/.cache/babel-loader/4d5fd7617c640987b7e41664f436912999b6d874f5c5ea874727cc4ee02215d8.json
frontend/node_modules/.cache/babel-loader/6fcee591e00c921ca32ba87d8136ff13eefdc4550596ab496633a675938ecc79.json
frontend/node_modules/.cache/babel-loader/24e2594eb5237200abf7f124f103dd1f020b275c244308d305a8b029dd58b06c.json
frontend/node_modules/.cache/babel-loader/72e13130cf3dcb342a1c1c9b49bebedaec78dfa012a7fbbae5683013fa060d61.json
frontend/node_modules/.cache/babel-loader/355ba58a357861fe7c97d6316c5f0208e028ca1d5aa8d1d157c70c0903911bac.json
frontend/node_modules/.cache/babel-loader/769b0adb6c300f7912cff6f0a517effd8f09a0a638b7dff1c49de3cc35944c5e.json
frontend/node_modules/.cache/babel-loader/14660faff0977126643dd78999745a7fbe8a8dbff8bb2273f95fbec8c047674d.json
frontend/node_modules/.cache/babel-loader/86897c6cc1631582d98e5f82d2d91cd9c41c16263147711b8b8c60c94578c1b8.json
frontend/node_modules/.cache/babel-loader/330707f57c27c0b62a5ee37586c92440cd7adc7b767dff68ed7c44a0ecbafbf3.json
frontend/node_modules/.cache/babel-loader/9682233ad408deab99eaa114bd0864663f337cbb97647ce4ebdd1ed495d4e998.json
frontend/node_modules/.cache/babel-loader/88760958cb75e20bf1b864898efdb6b87f44fc9244d8e70e724d32e2872afa3a.json
frontend/node_modules/.cache/babel-loader/ac7ef0342194c9853698f944a6059e03feb6c64fd755442777eaef087849c416.json
frontend/node_modules/.cache/babel-loader/ac70b04caa4edffe093239483fa82e2d3afd2b7a855acb3bb6a7c4b08be482e4.json
frontend/node_modules/.cache/babel-loader/aea298b04db4e06c6fb3f28ae423cd16039b60b04147890a84e3047a694f1948.json
frontend/node_modules/.cache/babel-loader/c8423ffb1f8d33bf119adc66f312626377bfed31d9d768ed251124a04fea428a.json
frontend/node_modules/.cache/babel-loader/d0c498cda1b6c103df4a888a116cea50ebc99cc919bbc92839e7c3f3ad160d90.json
frontend/node_modules/.cache/babel-loader/d017f7b6eba357064c0da71ffeb7e96b43ef9dba6f16db1063c666a9a8bf4af4.json
frontend/node_modules/.cache/babel-loader/df2307f3f76d90bbe4abc47fe6106199a08c6779b7ddb144915648d15a38008a.json
frontend/node_modules/.cache/babel-loader/dfea4ae76848e1456984d56fdf0b039f34880c626762b28a5cd88d2df5a7ad70.json
frontend/node_modules/.cache/babel-loader/e29c8f2f4fe7b6257c8f8c4ae76b9761ad5ac9980a551251f1c98db4bafdfa2f.json
frontend/node_modules/.cache/babel-loader/edac21dd6e0650f82d00eb7ca2360b93f13e6d9c38d3c45039e2f06954ed541c.json
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/15.pack
frontend/node_modules/.cache/default-development/16.pack
frontend/node_modules/.cache/default-development/17.pack
frontend/node_modules/.cache/default-development/21.pack
frontend/node_modules/.cache/default-development/22.pack
frontend/node_modules/.cache/default-development/23.pack
frontend/node_modules/.cache/default-development/24.pack
frontend/node_modules/.cache/default-development/25.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
frontend/houghtjo-screenshot.png
frontend/node_modules/.cache/default-development/0.pack
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/4.pack
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/10.pack
frontend/node_modules/.cache/default-development/11.pack
frontend/node_modules/.cache/default-development/13.pack
frontend/node_modules/.cache/default-development/14.pack
frontend/node_modules/.cache/default-development/15.pack
frontend/node_modules/.cache/default-development/16.pack
frontend/node_modules/.cache/default-development/17.pack
frontend/node_modules/.cache/default-development/index.pack
frontend/node_modules/.cache/default-development/index.pack.old
